__pycache__/
*.whl
*.tar.gz
*.pcapng
*.xml
*.txt
*.spec
build/
dist/
擎天柱30车厢编程软件v1.1.2/
.vs/
.vscode/

# Ignore previous binaries
一键烧录工具_v*.exe
30车厢固件一键替换程序.exe
flasher_out.exe

# Ensure the working binary is tracked
!一键烧录工具_v7.1.exe
